* {
padding: 0; box-sizing: border-box;
}

body{
background-color: azure;
text-align: center; line-height-step: 2.2;
line-height-step: 2.2;
}

.hero{
    padding: 20px 10px;
}

.hero img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.section h2{
    font-size: 37px;
}

.accent{
    color: black;
}

.grid{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.grid div{
    padding: 15px;
    border-radius: 40px;
    background-color: fuchsia;
    width: 90px;
}

@media(max-width: 768px) {
    body{background-color: darkorchid;}
}
